@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@600&display=swap');

body {
    background-color:lightgray;
    color:#000000;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
}

/*typography*/

h1,h2,h3,h4,h5,h6{
    font-family:'Proza Libre',sans-serif;   
    margin-bottom:10px 0px 20px 0px;
}

h1 {
/*    background-color:lightgray;*/
    display:inline-block;
    font-size:25px;
    font-family:'Proza Libre',sans-serif;
    border-style: solid;
    padding-top: 10px;
    text-decoration-line:underline;
}

h2 {
    font-size:20px;
    font-weight:;
    border-bottom:1px solid black;
    padding:10px 0 1px 0;
    letter-spacing: 2px;
    color:#000000;
}

p  {
    font-size:18px;
    line-height:30px;
    margin-bottom:10px;
}

/*anchor styles*/
a{
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:visited  {
    color:none;
    text-decoration:none;
}
a:active   {
    color:red;
}

/*wrappers*/
.wrapper {
    width:1200px;
    margin:0px auto 0px auto;
}

.robinboyd {
    width:1200px;
    margin:0px auto 0px auto;
    text-align:center;
}

.introduction {
    font-size:16px;
    line-height:30px;
    margin-bottom:10px;
    padding-right:300px;
    padding-left:300px;
    background-color:beige;
}
header {
    background-color:white;
    color:;
/*    height:200px;*/
/*    width:800px;*/
/*    margin-left:100px;*/
    padding:30px;
}

nav ul{
    
}

nav ul li{
    display:inline;
    margin-right:10px; 
}

nav ul li a{
     color:none;
    text-decoration:none;
    background-color:none;
    letter-spacing:2px;  
}

nav ul li a:hover{
}

nav {
    color:black;
    border:2px solid black;
    width: 30%;
    float:right;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    font-size:14px;
}

main {
    background-color: #ffffff;
    padding: 20px;
    overflow:auto;
}

.herocontent {
    min-height:700px;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-color:lightgray;
    color:;
    display:;
    padding:20px;
}



.leftimg {
    width:65%;
    float:right;
    border:1px solid grey;
    padding:20px;
    background-color:white;
    margin:20px 0;
}


